footer {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: -25px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-family: 'Carme', sans-serif;
}
footer a {
text-decoration: none;
    color: #ffffff;
}
.footer__grid {
    display: grid;
        grid-column: 1fr 1fr;
        align-items: center;
}
/* div {
    display: grid;
    grid-column: 1fr 1fr;
} */
.footer__grid-left {
    grid-column: 1;
    display: grid;
    gap: 15px;
    padding: 10px;
}

.footer__grid-right {
    grid-column: 2;
    display: grid;
    gap: 10px;
    padding: 10px;
}


