main {
    background-color: #E7E7E7;
    text-decoration: none;
    font-family: 'Carme', sans-serif;
}

legend {
    margin-top: -20px;
    padding-left: 5px;
}

.texte {
    padding-left: 5px;
    font-family: 'Carme', sans-serif;
}
